<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.rn_uber">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- EDIT BEGIN: Allow Pemition for User Location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- EDIT END -->

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
          <!-- EDIT BEGIN: Add to match Google Maps Api Key-->
      <meta-data
          android:name="com.google.android.geo.API_KEY"
          android:value="AIzaSyAKmAuVwbZG4H9-msa3CVvbNVm6Jx4Bltg"/>
      <uses-library android:name="org.apache.http.legacy" android:required="false"/>
      <!-- EDIT END -->
    </application>

</manifest>
